<div class="alert alert-danger">
    <h4 class="alert-heading"><%= title %></h4>
    <p><%= message %></p>
</div>

<div class="text-center mt-4">
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>